<div class="wrap">
  <div class="cols1">
    <p class="temp"><img src="/g5-logo-bar.png" alt="g5 logo" /></p>
    <p class="copyright"><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></p>
  </div>
  <div class="cols">
    <p class="heading"><a href="#">G5 Engineering</a></p>
    <ul>
      <li><a href="/about-g5#this-is-what-we-do">This is What We Do</a></li>
      <li><a href="/about-g5#this-is-how-we-do-it">This is How We Do It</a></li>
      <li><a href="/about-g5#this-is-what-we-use">This is What We Use</a></li>
    </ul>
  </div>
  <div class="cols">
    <p class="heading"><a href="#">Check This Out</a></p>
    <ul>
      <li><a href="/about-g5">About</a></li>
      <li><a href="/profiles">Profiles</a></li>
      <li><a href="https://www.facebook.com/G5SearchMarketing">Facebook</a></li>
    </ul>
  </div>
  <div class="cols" style="display:none">
    <p class="heading">Other Languages</p>
    <form action="laugh" class="language" method="post">
      <div id="button" class="nul">
        <select name="" id="field1" required="required">
          <option id="field1-1" value="English (US)">English (US) &nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option id="field1-2" value="Irish Pikey">Irish "Pikey"</option>
          <option id="field-3" value="Klingon">Klingon</option>
        </select>
      </div>
    </form>
  </div>
  <div class="clear"></div>
</div>
