/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.accordion
*/

@import "normalize";

body {
  background:#fff;
  font-size:13px;
  font-family:sans-serif;
}


h2 { font-size:40px; text-shadow:-1px -1px 0 #c55215; }
.wrap {
  position:relative;
  width:1000px;
  margin:0 auto;
}

// start header

header {
  height:120px;
  background:url(header-bg.png) repeat #eee;
  border-bottom:25px solid #383838;
  text-shadow: 1px 1px 0 white;
}

header ul {
  position:absolute;
  left:361px; top:27px;
  width: 600px;
  text-shadow:none;
}
header ul li{
  display:inline;
  margin:0;
  word-spacing: 0;
}

header ul a {
  padding:14px 15px 14px 25px;
  width:104px;
  color:#fff;
  text-decoration:none;
  background:#282828;
  position:relative;
  color:#fff;
  text-decoration:none;
  display: inline-block;
  float: left;

}

header ul a:hover, header ul li.selected a {
  background: #FD742A;
  color: #222;
}

header ul span {
  display:block;
  color:#88b6cb;
}
header ul .selected span, header ul a:hover span  {
  color: #eee;
}

header ul li:hover {
  background-image: -webkit-linear-gradient(top, #282828, #111);
  background-image: -moz-linear-gradient(top, #282828, #111);
  background-image: -ms-linear-gradient(top, #282828, #111);
  background-image: -o-linear-gradient(top, #282828, #111);
  -pie-background: linear-gradient(top, #282828, #111);
  behavior: url(/PIE.htc);
}

header li.first a {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

header li.last a{
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  border-right:none;
}

header h1 {
  font-size:58px;
  font-weight:normal;
  color:#282828;
  font-family: 'Rokkitt', serif;
  line-height: 110px;
  margin:0;
}

header em { font-style:normal; color:#fd742a; }



// end header 

/* show page */

#body_content,#side_body_content,#profiles { 
	p, li, div.profile-thumb { line-height:150%; font-size:12pt;}
	h1,h2,h3,h4,h5,h6 { font-family: 'Rokkitt', serif; color:#FD742A; text-shadow: 1px 1px 0 #282828; }
	h1 { font-size: 250%; }
	h2 { font-size: 230%; }
	h3 { font-size: 210%; }
	h4 { font-size: 190%; }
	h5 { font-size: 170%; }
	h6 { font-size: 150%; }
	a { color:#FD742A; text-decoration: none }
	a:hover { color:#DF692A; }
	a:visited { color:#FA9A66; }
}
#side_image {
	img { max-width:310px; }
}
#body_content { 
	float:left; 
	width:670px;
	img { 
		border-radius:7px;
	}
}
#side_image { float:right; margin:30px 0 20px 20px; width:310px; border-radius:10px;}
#side_body_content { float:right; margin:30px 0 20px 20px; width:270px; border:5px solid #D2D2D2; padding:5px 15px; border-radius:10px;}

#profiles {
	a { text-decoration:none; }
	div.profile-thumb {
    float: left;
    margin: 20px;
    text-align: center;
    min-height: 270px;
    min-width: 270px;

		img {
			border-radius:7px;
      max-width: 200px;
      height: auto;
      margin: 0 0 20px 20px;
		}
	}
}

#profile_main img {
  max-width: 200px;
  margin: 0 0 20px 20px;
}

#profile_main #profile_image {
  margin: 0 0 20px 20px;
  float:right;
}

#page { width:1000px; position:relative; margin:auto; }
#page #body_content { width:auto; float:none;}
#body_content_left { float:left; width:670px; }

#body_content_right #the_team { 
  margin:30px 0 20px 20px; 
  width:270px; 
  border:5px solid #D2D2D2; 
  padding:5px 15px; 
  border-radius:10px;
  float: right
}

#body_content_right #about { 
  margin:30px 0 20px 20px; 
  width:270px; 
  border:5px solid #D2D2D2; 
  padding:5px 15px; 
  border-radius:10px;
  position: absolute; 
  right: 0; 
}

#body_content_right ul { list-style: none inside }
#body_content_right ul li { padding: 5px }
#body_content_right ul li a { text-decoration: none }

#body_content_right ul li img { width: 21px; vertical-align: middle; float: left; padding-right: 15px; margin-left: -25px }


#body_content_left header { height: auto; background: none transparent; border-bottom: none 0px; text-shadow: 0; }
#body_content_left header h1 { padding:0; line-height:150%; font-size: 2em; margin: 0.67em 0;}
#body_content_left header h1 a { text-decoration:none;}
.blog_post { padding-bottom: 15px; margin-bottom:15px; border-bottom:1px solid #D2D2D2;}
#body_content .blog_comment_message { 
	padding:15px 0; 
	margin:15px 0; 
	border-bottom:1px solid #D2D2D2;
	img {
		float:left;
		margin:20px;
	}
}
.blog_post footer, .blog_comment_author { background:none transparent; min-height:0; color:#000; }
.new_comment {
	label { display:block; font-size:12pt; font-weight:bold; margin:5px 0; }
	input[type="text"], input[type="email"], textarea { width:350px; border:1px solid #000; margin-bottom:10px; padding:5px; }
}


footer {
  color:#787878;
  min-height:150px;height:auto !important;height:150px;
  background-image: linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -o-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -moz-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -ms-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #F5F5F5),
    color-stop(0.55, #EDEDED),
    color-stop(0.78, #DBDBDB)
  );
  padding:1px 0;
	margin-top:15px;
}
footer .wrap {}
footer .cols1 {
  float:left;
  width:40%;
}
footer .cols {
  float:left;
  width:20%;
}
footer a {
  color:#787878;
  text-decoration:none;
}
footer a:hover {
  text-decoration:underline;
}
footer ul,
footer li {
  list-style:none;
  margin:0;padding:0;
  line-height:1.5em;
}
footer p.heading {
  font-weight:bold;
  padding:0;margin:0;
  padding:15px 0 5px 0;
}
footer p.copyright {
  padding:100px 0 0 20px;
}
/* remove */
footer p.temp {
  position: absolute;
  top: 93px;
  left: -11px;
  color: #CCC;
  background: black;
  border-radius: 5px;
  width: 28px;
}
.ui-accordion .ui-accordion-content { overflow:hidden !important; } 
#kill_ie {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  display: none;
  background: #00006a;
  z-index: 8;
}



