.clear {clear:both;}
body {
  background:#000;
}

header {
  height:485px;
  background:url(header-bg.png) repeat #eee;
  border-bottom:25px solid #383838;
  text-shadow: 1px 1px 0 white;
}

header ul {
  position:absolute;
  right:0; top:30px;
  width: 670px;
  text-shadow:none;
}
header ul li{
  display:inline;
  margin:0;
  word-spacing: 0;
}

header ul a {
  padding:14px 15px 14px 25px;
  width:120px;
  border-right:1px solid #333;
  color:#fff;
  text-decoration:none;
  background:#282828;
  position:relative;
  color:#fff;
  text-decoration:none;
  display: inline-block;
  float: left;

}

header ul li a {


}

header ul span {
  display:block;
  color:#88b6cb;
}

header ul li:hover {
  background-image: -webkit-linear-gradient(top, #282828, #111);
  background-image: -moz-linear-gradient(top, #282828, #111);
  background-image: -ms-linear-gradient(top, #282828, #111);
  background-image: -o-linear-gradient(top, #282828, #111);
  -pie-background: linear-gradient(top, #282828, #111);
  behavior: url(/PIE.htc);
}

header li.first a {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

header li.last a{
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  border-right:none;
}

header h1 {
  padding-top:90px;
  font-size:171px;
  font-weight:normal;
  color:#282828;
  font-family: 'Rokkitt', serif;
  line-height: 110px;
  margin:0;
}

header small {
  font-size:49px;
  margin-left:30px;
}

header small span {
  position:relative;
  top: 9px;
}

header em { font-style:normal; color:#fd742a; }

header p {
  float: right;
  width: 652px;
  /*margin-top: 50px;*/
  line-height: 27px;
  font-size: 14px;
  color:#666;
}

header img.arrow-down-left {
  position:absolute;
  top:393px; left:285px;
}

footer {
  color:#787878;
  min-height:150px;height:auto !important;height:150px;
  background-image: linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -o-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -moz-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -webkit-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);
  background-image: -ms-linear-gradient(bottom, #F5F5F5 10%, #EDEDED 55%, #DBDBDB 78%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #F5F5F5),
    color-stop(0.55, #EDEDED),
    color-stop(0.78, #DBDBDB)
  );
  padding:1px 0;
}
footer .wrap {}
footer .cols1 {
  float:left;
  width:40%;
}
footer .cols {
  float:left;
  width:20%;
}
footer a {
  color:#787878;
  text-decoration:none;
}
footer a:hover {
  text-decoration:underline;
}
footer ul,
footer li {
  list-style:none;
  margin:0;padding:0;
  line-height:1.5em;
}
footer p.heading {
  font-weight:bold;
  padding:0;margin:0;
  padding:15px 0 5px 0;
}
footer p.copyright {
  padding:100px 0 0 20px;
}
/* remove */
footer p.temp {
  position:absolute;
  top:20px;left:20px;
  width:200px;
  color:#ccc;
}


// 
.column {
  width:310px;
  min-height:350px;
  padding:0 10px;
  float:left;
  position:relative;
  &.right { 
  	padding-right:0; 
  	float:right;
  }
  p{
    display:block;
    padding:200px 10px 10px 10px;
    line-height:25px;
    font-size:14px;
    color:#5d6060;
  }
}


.circle {
  border:18px solid #fd742a;
  background:#df692a;
  text-shadow:#c55215;
  color:#fff;
  height:182px;
  width:182px;
  -moz-border-radius:129px;
  -webkit-border-radius:129px;
  border-radius:129px;
  text-align:center;
  margin-left:35px;
  position:absolute;
  top: -37px;
  left:55px;
  padding:0;
  margin:0;
  span{
    display:block;
    width:142px;
    font-size:25px;
    padding:45px 20px 0 20px;
    margin:0;
  }
}

h2.circle {
  border:22px solid #fd742a;
  width:268px;
  height:268px;
  -moz-border-radius:155px;
  -webkit-border-radius:155px;
  border-radius:155px;
  top: -131px;
  left:10px;
  padding:0;
  margin:0;
  span{
    display:block;
    width:188px;
    font-size:40px;
    padding:63px 40px 0 40px;
    margin:0;
  }
}

#row1 {
  height:500px;
  background:#fff;
  .wrap{
    margin:0 auto;
    width:1000px;
  }
}

#row2, #row3 {
  min-height:440px;
  background:#ededed;
  border-top:10px solid #e4e4e4;
  border-bottom:10px solid #e4e4e4;
  .wrap{
    margin:0 auto;
    width:1000px;
    &:after { 
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
  }
}

#row3 {
  background:#fff;
  border-top:none;
}

#row2{
  .wrap{
    .row_left{
      width:320px;
      height:inherit;
      float:left;
      height:370px;
      padding:35px 5px;
      color:#5d5f5f;
      font-family: Helvetica, serif;
      h2{
        font-size:38px;
        text-shadow:none;
        margin:5px 0 10px 0;
      }
      h3{
        font-size:20px;
        text-shadow:none; 
        margin:5px 0 25px 0;
      }
      ul{
        padding:0;
        margin:0;
        li{
          font-size:25px;
          list-style:none;
          padding:5px 0 5px 55px;
          background-image:url('check.png');
          background-repeat:no-repeat;
          background-position:left middle;
        }
      }  
      p{
        font-size:16px;
      }
    } 
    .row_right{
      width:660px;
      height:370px;
      padding:35px 5px;
      float:right;
      position:relative;
      #slides{
        width:620px;
        height:350px;
        background-color:#d2d2d2;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        position:relative;
        padding:10px;
        img{width:620px; border-radius:5px;}
        .slides_accent{
          width:75px;
          height:75px;
          position:absolute;
          left:100px;
          top:-55px;
          background-image:url('slide_accent.png');
          background-repeat:no-repeat;
        }
      } 
    } 
  }
}

#row3{
  .wrap{
    .row_left{
      width:320px;
      height:inherit;
      float:left;
      height:370px;
      padding:35px 5px;
      color:#5d5f5f;
      font-family: Helvetica, serif;
      h2{
        font-size:38px;
        text-shadow:none;
        margin:5px 0 10px 0;
      }
      h3{
        font-size:20px;
        text-shadow:none; 
        margin:5px 0 25px 0;
      }
      ul{
        padding:0;
        margin:0;
        li{
          font-size:25px;
          list-style:none;
          padding:5px 0 5px 55px;
          background-image:url('check.png');
          background-repeat:no-repeat;
          background-position:left middle;
        }
      }  
      p{
        font-size:16px;
      }
    } 
    .row_right{
      width:660px;
      height:430px;
      padding:35px 5px;
      float:right;
      #slides{
        width:640px;
        height:370px;
        background-color:#d2d2d2;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        position:relative;
      } 
    } 
  }
}


// Orbit Slideshow

/* CSS for jQuery Orbit Plugin 1.4.0
 * Maintained for Foundation. foundation.zurb.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }
    
div.orbit.with-bullets {
    margin-bottom: 40px; }

div.orbit .orbit-slide {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

div.orbit a.orbit-slide {
    border: none;
    line-height: 0; 
    display: none; }

div.orbit div.orbit-slide {
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.orbit-wrapper div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 31; }

div.orbit-wrapper span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(rotator-black.png) no-repeat;
    z-index: 3; }

div.orbit-wrapper span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

div.orbit-wrapper span.rotator.move {
    left: 0 }

div.orbit-wrapper span.mask.move {
    width: 40px;
    left: 0;
    background: url(timer-black.png) repeat 0 0; }

div.orbit-wrapper span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

div.orbit-wrapper span.pause.active {
    background: url(/orbit/pause-black.png) no-repeat 0 -40px }

div.orbit-wrapper div.timer:hover span.pause,
div.orbit-wrapper span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 30;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.orbit-wrapper div.slider-nav {
    display: block }

div.orbit-wrapper div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 30;
    top: 50%;
    margin-top: -50px;
    cursor: pointer; }

div.orbit-wrapper div.slider-nav span.right {
    background: url(right-arrow.png) no-repeat;
    right: 0; }

div.orbit-wrapper div.slider-nav span.left {
    background: url(left-arrow.png) no-repeat;
    left: 0; }

/* BULLET NAV
   ================================================== */

ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    bottom: -40px;
    left: 50%;
    margin-left: -50px;
    padding: 0; }

ul.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(bullets.png) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

ul.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
ul.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

ul.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
    
/* FLUID LAYOUT
   ================================================== */
div.orbit img.fluid-placeholder {
    visibility: hidden;
    position: static;
    display: block;
    width: 100%; }

div.orbit, div.orbit-wrapper { width: 100% !important; }

ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    padding: 0; }

ul.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(bullets.png) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

ul.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

ul.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }

ul.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
    
    
/* Correct timer in IE */
  .timer { display: none !important; }
  div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }


